---
import { DateFormat, Datetime } from '@/shared/domain/datetime/datetime'
import { Badge } from '@/ui/badge'
import Card from '@/ui/components/card/card.astro'
import DatePeriod from '@/ui/components/date-period/date-period.astro'
import Location from '@/ui/components/location/location.astro'

interface CardEvent {
  slug: string
  title: string
  image: URL
  tags: string[]
  tagColor: string
  altImage?: string
  startsAt: Date
  endsAt: Date
  location?: string | null
}
interface Props {
  event: CardEvent
  classes?: string
  goToEvent: (slug: string) => string
}

const { event, classes, goToEvent } = Astro.props
---

<a
  href={goToEvent(event.slug)}
  class:list={['event-card-link', classes]}
  title={event.title}
  aria-label={`Ver evento ${event.title}`}
>
  <Card>
    <div class="event-cover-container">
      <img
        class="event-cover"
        src={event.image}
        alt={event.altImage || `Foto de portada del evento ${event.title}`}
        loading="lazy"
        onerror="this.src='/not-found.jpg'"
        transition:name={`media-image-${event.slug}`}
      />
    </div>
    <div class="event-tags">
      {
        event.tags.map(t => (
          <Badge color={event.tagColor} className="text-white">
            {t.toUpperCase()}
          </Badge>
        ))
      }
    </div>
    <h3 class="event-title">{event.title}</h3>
    <section class="event-date-location">
      <Location location={event.location} />
      <DatePeriod startsAt={event.startsAt} endsAt={event.endsAt} format={DateFormat.DD_MMM_YYYY} />
    </section>
  </Card>
</a>

<style>
  @reference "../../../../../../styles/global.css";

  .event-card-link {
    @apply block;
  }
  .event-cover-container {
    @apply w-full overflow-hidden rounded-xl;

    @media (prefers-reduced-motion: no-preference) {
      img:hover {
        transform: scale(1.1);
      }
    }
  }
  .event-cover {
    @apply h-56 w-full rounded-xl object-cover;
    transition: 0.4s ease;
  }
  .event-tags {
    @apply mt-2 flex flex-wrap items-center gap-1;
  }
  .event-date-location {
    @apply text-muted-foreground flex w-full items-center justify-between gap-1 font-light;
  }
  .event-title {
    @apply text-foreground mt-2 line-clamp-1 p-0 text-xl font-semibold dark:text-gray-100;
  }
</style>
