---
import Caption from '@/ui/components/caption/caption.astro'
import DropdownContent from '@/ui/components/dropdown/dropdown-content.astro'
import DropdownItem from '@/ui/components/dropdown/dropdown-item.astro'
import DropdownSection from '@/ui/components/dropdown/dropdown-section.astro'
import Dropdown from '@/ui/components/dropdown/dropdown.astro'
import Link from '@/ui/components/link/link.astro'
import { ThemeModeToggle } from '@/ui/components/theme-mode-toggle/theme-mode-toggle'
import UserAvatar from '@/ui/components/user-avatar/user-avatar.astro'
import { Urls } from '@/ui/urls/urls'
import { UsersLocator } from '@/users/di/users.locator'

interface Props {
  userId: string
}

const { userId } = Astro.props
const user = await UsersLocator.getUserQuery().execute({ id: userId })
---

<Dropdown>
  <UserAvatar slot="trigger" userName={user.name} image={user.avatar} classes="hover:opacity-90" />
  <DropdownContent slot="content" align="right">
    <DropdownSection>
      <DropdownItem>
        <section class="user-info">
          <h2 class="user-name">{user.name}</h2>
          <Caption>{user.email}</Caption>
          <Link href={Urls.PROFILE} variant="primary" classes="profile-link">Mi perfil</Link>
        </section>
      </DropdownItem>
    </DropdownSection>

    <DropdownSection>
      <ThemeModeToggle client:idle />
    </DropdownSection>

    <DropdownSection isLast>
      <DropdownItem>
        <Link href={Urls.MY_ORGANIZATIONS} classes="organizations-link">Mis organizaciones</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.LOGOUT} classes="logout-link" data-astro-prefetch="false">Cerrar sesión</Link>
      </DropdownItem>
    </DropdownSection>
  </DropdownContent>
</Dropdown>

<style>
  @reference "../../../../../../styles/global.css";

  .user-info,
  .logout-link,
  .organizations-link {
    @apply text-left;
  }

  .user-name {
    @apply !p-0 text-base font-medium;
  }

  .profile-link {
    @apply mt-2 block w-full;
  }
</style>
