---
import { GetUserQuery } from '@/users/application/get-user.query'
import { UsersContainer } from '@/users/di/users.container'
import Caption from '@/ui/components/caption/caption.astro'
import DropdownContent from '@/ui/components/dropdown/dropdown-content.astro'
import DropdownItem from '@/ui/components/dropdown/dropdown-item.astro'
import DropdownSection from '@/ui/components/dropdown/dropdown-section.astro'
import Dropdown from '@/ui/components/dropdown/dropdown.astro'
import { Link } from '@/ui/components/link'
import { ThemeModeToggle } from '@/ui/components/theme-mode-toggle/theme-mode-toggle'
import UserAvatar from '@/ui/components/user-avatar/user-avatar.astro'
import { Urls } from '@/ui/urls/urls'

interface Props {
  userId: string
}

const { userId } = Astro.props
const user = await UsersContainer.get(GetUserQuery).execute({ id: userId })
---

<Dropdown>
  <UserAvatar slot="trigger" userName={user.name} image={user.avatar} classes="hover:opacity-90" />
  <DropdownContent slot="content" align="right">
    <DropdownSection>
      <DropdownItem>
        <section class="user-info">
          <h2 class="user-name">{user.name}</h2>
          <Caption>{user.email}</Caption>
          <Link href={Urls.PROFILE} variant="secondary" className="profile-link">Mi perfil</Link>
        </section>
      </DropdownItem>
    </DropdownSection>

    <DropdownSection>
      <ThemeModeToggle client:idle />
    </DropdownSection>

    <DropdownSection>
      <DropdownItem>
        <Link href={Urls.CREATE_ORGANIZATION} variant="ghost">Crear organización</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.EVENTS_CREATE} variant="ghost">Crear evento</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.MEETUPS_CREATE} variant="ghost">Crear meetup</Link>
      </DropdownItem>
    </DropdownSection>

    <DropdownSection>
      <DropdownItem>
        <Link href={Urls.MY_MEETUPS} variant="ghost">Mis meetups</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.MY_ORGANIZATIONS} variant="ghost">Mis organizaciones</Link>
      </DropdownItem>
    </DropdownSection>

    <DropdownSection>
      <DropdownItem>
        <Link href={Urls.FEATURE_REQUEST} variant="ghost">Solicita una funcionalidad</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.BUG_REPORT} variant="ghost">Reporta un error</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.CHANGELOG} variant="ghost">Changelog</Link>
      </DropdownItem>
    </DropdownSection>
    
    <DropdownSection isLast>
      <DropdownItem>
        <Link href={Urls.SETTINGS} variant="ghost">Ajustes</Link>
      </DropdownItem>
      <DropdownItem>
        <Link href={Urls.LOGOUT} variant="ghost" data-astro-prefetch="false">Cerrar sesión</Link>
      </DropdownItem>
    </DropdownSection>
  </DropdownContent>
</Dropdown>

<style>
  @reference "../../../../../../styles/global.css";
  .user-name {
    @apply !p-0 text-base font-medium;
  }

  .profile-link {
    @apply mt-2 block w-full text-center;
  }
</style>
