---
import { Calendar, Chalkboard, Users } from '../../../ui/icons'
import { Urls } from '../../../ui/urls/urls'
import { Link } from '../../atoms/link/link'

const pathname = Astro.url.pathname

const urlSections = {
  EVENTS: '/evento',
  MEETUPS: '/meetup',
  CALENDAR: '/calendario',
}
---

<nav class="desktop-menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <Link selected={pathname.includes(urlSections.EVENTS)} href={Urls.EVENTS(1)}>Eventos</Link>
    </li>
    <li class="menu-list-item">
      <Link selected={pathname.includes(urlSections.MEETUPS)} href={Urls.MEETUPS(1)}>Meetups</Link>
    </li>
    <li class="menu-list-item">
      <Link selected={pathname.includes(urlSections.CALENDAR)} href={Urls.CALENDAR}>Calendario</Link>
    </li>
  </ul>
</nav>

<nav class="mobile-menu">
  <ul class="menu-list">
    <li>
      <Link selected={pathname.includes(urlSections.EVENTS)} className="mobile-link" href={Urls.EVENTS(1)}>
        <Chalkboard className="link-icon" />Eventos
      </Link>
    </li>
    <li>
      <Link selected={pathname.includes(urlSections.MEETUPS)} className="mobile-link" href={Urls.MEETUPS(1)}>
        <Users className="link-icon" />Meetups</Link
      >
    </li>
    <li>
      <Link selected={pathname.includes(urlSections.CALENDAR)} className="mobile-link" href={Urls.CALENDAR}>
        <Calendar className="link-icon" />Calendario
      </Link>
    </li>
  </ul>
</nav>

<style>
  .desktop-menu {
    @apply hidden flex-1 md:block;

    .menu-list {
      @apply mx-auto flex w-full list-none justify-center gap-6;

      .menu-list-item {
        @apply !mb-0;
      }
    }
  }

  .mobile-menu {
    @apply fixed bottom-0 left-0 z-20 h-24 w-full bg-menu-background pb-4 pt-4 text-menu-foreground dark:bg-menu-dark dark:text-menu-dark-foreground md:hidden;

    .menu-list {
      @apply flex list-none flex-row justify-around p-0;

      .mobile-link {
        @apply ml-0 grid grid-rows-2 place-content-center place-items-center text-sm font-medium;
      }

      .link-icon {
        @apply text-2xl;
      }
    }
  }
</style>
