---
import CalendarContent from '@/modules/shared/presentation/server/components/calendar/calendar.astro'
import ProvinceComboboxFilter from '@/provinces/presentation/server/components/province-combobox/province-combobox-filter.astro'
import { Datetime } from '@/shared/domain/datetime/datetime'
import { EventType } from '@/shared/domain/types/event-type'
import { EventTypeFilter } from '@/ui/components/event-type-filter/event-type-filter'
import SearchFiltersBar from '@/ui/components/search-filters-bar/search-filters-bar.astro'
import { SectionTitle } from '@/ui/components/section-title/section-title'
import { Loader } from '@/ui/icons'
import Layout from '../layouts/layout.astro'

const url = new URL(Astro.request.url)
const date = url.searchParams.get('date')
const province = url.searchParams.get('province') || undefined
const eventType = (url.searchParams.get('type') as EventType | undefined) || EventType.EVENTS

const selectedDate = date ? Datetime.toDate(date) : Datetime.now()
---

<Layout
  title="eventos.wiki - Calendario"
  description="En eventos.wiki encontrarás el calendario de eventos sobre desarrollo y tecnología definitivo. Pasa y echa un vistazo a la gran variedad de eventos y, si falta el tuyo, sólo tienes que pedírnoslo."
>
  <SectionTitle>Calendario</SectionTitle>
  <SearchFiltersBar>
    <EventTypeFilter client:load value={eventType} />
    <div class="grow gap-2"></div>
    <ProvinceComboboxFilter value={province} />
  </SearchFiltersBar>
  <article class="mt-4">
    <CalendarContent server:defer selectedDate={selectedDate} province={province} eventType={eventType}>
      <div slot="fallback" class="grid h-96 place-content-center">
        <Loader className="text-primary size-10 animate-spin" />
      </div>
    </CalendarContent>
  </article>
</Layout>
