---
import { EventCard } from "../../molecules/event-card/event-card";
import { EventUtils } from "../../../../core/events/event-utils";
import type { AstroEvent } from "../../../events/astro-event";

const events = (await Astro.glob(
  "../../../../pages/eventos/**/*.mdx"
)) as AstroEvent[];

const nextEventsFiltered = EventUtils.getNextEvents(events);
const nextEvents = EventUtils.sortByStartDateAsc(nextEventsFiltered).slice(
  0,
  9
);
---

<section>
  <h2
    class="mb-3 text-3xl font-extrabold leading-none text-gray-900 dark:text-gray-50 lg:text-4xl xl:text-5xl sm:mb-3"
  >
    Próximos eventos
  </h2>
  <div class="grid grid-cols-12 col-span-12 gap-7">
    {
      nextEvents.map((event: AstroEvent) => {
        return (
          <EventCard
            title={event.frontmatter.title}
            tags={event.frontmatter.tags}
            tagColor={event.frontmatter.tagColor}
            image={event.frontmatter.image}
            location={event.frontmatter.location}
            startDate={event.frontmatter.startDate}
            href={event.url}
            className="col-span-12 md:col-span-6 lg:col-span-4"
          />
        );
      })
    }
  </div>
</section>
