---
import Caption from '@/ui/components/caption/caption.astro'
import { Link } from '@/ui/components/link'
import { SectionTitle } from '@/ui/components/section-title/section-title'
import GitHub from '@/ui/social-icons/github.astro'
import Google from '@/ui/social-icons/google.astro'
import X from '@/ui/social-icons/x.astro'
import { Urls } from '@/ui/urls/urls'

interface Props {
  nextUrl?: string | null
}

const { nextUrl } = Astro.props

const getNextParam = () => (nextUrl ? `?_next=${encodeURIComponent(nextUrl)}` : '')
---

<article class="login">
  <section class="login-access">
    <img src="/icon.png" alt="Logo" width="180" height="180" class="icon" />
    <SectionTitle>Iniciar sesión</SectionTitle>
    <nav class="social-links">
      <Link
        href={`${Urls.LOGIN_GOOGLE}${getNextParam()}`}
        variant="outline"
        className="social-link"
        data-astro-prefetch="false"><Google classes="social-link-icon" /> Continuar con Google</Link
      >
      <Link
        href={`${Urls.LOGIN_GITHUB}${getNextParam()}`}
        variant="outline"
        className="social-link"
        data-astro-prefetch="false"><GitHub classes="social-link-icon" /> Continuar con GitHub</Link
      >
      <Link
        href={`${Urls.LOGIN_TWITTER}${getNextParam()}`}
        variant="outline"
        className="social-link"
        data-astro-prefetch="false"><X classes="social-link-icon" /> Continuar con X</Link
      >
    </nav>
    <Caption classes="caption"
      >Al continuar, aceptas las <a href={Urls.TERMS} target="_blank">Condiciones de uso</a> y la <a
        href={Urls.PRIVACY}
        target="_blank">Política de privacidad</a
      > de Eventos.wiki.
    </Caption>
  </section>
</article>

<style>
  @reference "../../../../../styles/global.css";

  .login {
    @apply grid place-content-center;
  }

  .login-access {
    @apply flex flex-col items-center justify-center gap-8;
  }

  .icon {
    @apply h-16 w-16;
  }

  .social-links {
    @apply flex w-full flex-col items-stretch justify-center gap-4;
  }

  .social-link {
    @apply flex flex-1 items-center justify-center gap-2;
  }

  .social-link-icon {
    @apply h-6;
  }

  .caption a {
    @apply underline;
  }
</style>
