---
import Logo from '@/ui/components/logo/logo.astro'
import DesktopMenu from '@/ui/components/menu/desktop-menu.astro'
import { Urls } from '@/ui/urls/urls'
import UserMenu from '@/users/presentation/server/components/user-menu/user-menu.astro'
import { Link } from '../link'
import MobileMenu from '../menu/mobile-menu.astro'
import UserAvatarSkeleton from '../user-avatar/user-avatar-skeleton.astro'

interface Props {
  currentPath?: string
}

const { currentPath } = Astro.props
const hasActiveSession = Astro.locals.user !== null
const userId = Astro.locals.user?.id

const getNextParam = () => (currentPath ? `?_next=${encodeURIComponent(currentPath)}` : '')
---

<header class="header">
  <Logo />
  <DesktopMenu />
  <section class="actions">
    {
      !hasActiveSession && (
        <Link href={`${Urls.LOGIN}${getNextParam()}`} variant="default">
          Iniciar sesión
        </Link>
      )
    }
    {
      hasActiveSession && userId && (
        <UserMenu userId={userId} server:defer>
          <UserAvatarSkeleton slot="fallback" />
        </UserMenu>
      )
    }
  </section>
</header>
<MobileMenu currentPath={currentPath} />

<style>
  @reference "../../../../../../styles/global.css";

  .header {
    @apply bg-background dark:bg-background z-20 flex h-14 items-center justify-between px-4 md:sticky md:top-0 lg:h-16 lg:px-8;
  }

  .actions {
    @apply flex items-center gap-4;
  }

  .add-event-link {
    @apply hidden md:block;
  }
</style>
