---
import Logo from '@/ui/components/logo/logo.astro'
import DesktopMenu from '@/ui/components/menu/desktop-menu.astro'
import { Urls } from '@/ui/urls/urls'
import { Link } from '../link'
import MobileMenu from '../menu/mobile-menu.astro'
import { UserMenu } from '@/modules/users/presentation/client/components/user-menu/user-menu'
import { GetUserQuery } from '@/users/application/get-user.query'
import { UsersContainer } from '@/users/di/users.container'

interface Props {
  currentPath?: string
}

const { currentPath } = Astro.props
const hasActiveSession = Astro.locals.user !== null
const userId = Astro.locals.user?.id

let user = null
if (hasActiveSession && userId) {
  user = await UsersContainer.get(GetUserQuery).execute({ id: userId })
}

const isValidCurrentPath = currentPath && currentPath !== Urls.LOGIN
const getNextParam = () => (isValidCurrentPath ? `?_next=${encodeURIComponent(currentPath)}` : '')
---

<header class="header">
  <Logo />
  <DesktopMenu />
  <section class="actions">
    {
      !hasActiveSession && (
        <Link href={`${Urls.LOGIN}${getNextParam()}`} variant="default">
          Iniciar sesión
        </Link>
      )
    }
    {
      hasActiveSession && user && (
        <UserMenu
          client:load
          userName={user.name}
          email={user.email || ''}
          avatarUrl={user.avatar?.toString() || null}
        />
      )
    }
  </section>
</header>
<MobileMenu currentPath={currentPath} />

<style>
  @reference "../../../../../../styles/global.css";

  .header {
    @apply bg-background dark:bg-background z-20 flex h-14 items-center justify-between px-4 md:sticky md:top-0 lg:h-16 lg:px-8;
  }

  .actions {
    @apply flex items-center gap-4;
  }

  .add-event-link {
    @apply hidden md:block;
  }
</style>
