---
import { Event } from '@/modules/events/domain/event'
import BaseLayout from './base-layout.astro'
import AddToCalendarButton from '@/ui/components/add-to-calendar-button/add-to-calendar-button.astro'
import Container from '@/ui/components/container/container.astro'
import Tag from '@/ui/components/tag/tag.astro'
import { EventDatePeriod } from '@/ui/components/event-date-period/event-date-period'
import { SocialLink } from '@/ui/components/social-link/social-link'
import { Link, MapPin } from '@/ui/icons'
import { NewUrls } from '@/ui/urls/urls'
import type { Meetup } from '@/meetups/domain/meetup'

interface Props {
  event: Event | Meetup
}
const { event } = Astro.props

const {
  slug,
  title,
  shortDescription,
  image,
  tags,
  tagColor,
  altImage,
  startsAt,
  endsAt,
  twitter,
  twitch,
  instagram,
  youtube,
  facebook,
  linkedin,
  github,
  telegram,
  whatsapp,
  discord,
  web,
  location,
} = event
const url = NewUrls.EVENT(slug)
---

<BaseLayout
  title={`${title} - eventos.wiki`}
  description={shortDescription}
  image={image}
  url={`https://eventos.wiki${url}`}
>
  <header
    class="max-w-5xl w-full mx-auto mt-4 flex flex-col justify-center lg:items-center px-4 lg:px-0 lg:justify-start gap-4 md:flex-row"
  >
    <img
      id="event-image"
      src={image}
      alt={altImage || `Foto de portada del evento ${title}`}
      class="w-full max-w-[350px] max-h-[300px] min-h-[200px] object-cover rounded-xl shadow-md bg-white"
      loading="lazy"
      onerror="this.src='/not-found.jpg'"
      transition:name={`media-image-${url}`}
    />
    <div>
      <div class="w-full lg:px-6 max-w-5xl xl:px-0">
        <div class="flex items-center gap-2" transition:animate="fade">
          {tags.map((t: string) => <Tag color={tagColor}>{t}</Tag>)}
        </div>
        <h1 class="text-4xl font-medium text-black dark:text-white" tabindex={0} transition:animate="fade">
          {title}
        </h1>
        <EventDatePeriod startDate={startsAt} endDate={endsAt} client:load transition:animate="fade" />
        {
          web && (
            <div class="flex items-center gap-1 text-black dark:text-white" transition:animate="fade">
              <Link size="1.2rem" />
              <a href={web} target="_blank" rel="nofollow" class="text-sm" aria-label={`Link al evento ${title}`}>
                {web}
              </a>
            </div>
          )
        }
        {
          location && (
            <div class="flex items-center gap-1 text-black dark:text-white" transition:animate="fade">
              <MapPin size="1.25rem" />
              <p class="text-sm py-2" tabindex="0" aria-label={`Localización del evento: ${location}`}>
                {location}
              </p>
            </div>
          )
        }
      </div>
      <div class="flex justify-start gap-1 max-w-5xl left-0 right-0 ml-auto mr-auto xl:px-0">
        {twitter && <SocialLink name={title} href={twitter} type="twitter" />}
        {twitch && <SocialLink name={title} href={twitch} type="twitch" />}
        {instagram && <SocialLink name={title} href={instagram} type="instagram" />}
        {youtube && <SocialLink name={title} href={youtube} type="youtube" />}
        {facebook && <SocialLink name={title} href={facebook} type="facebook" />}
        {linkedin && <SocialLink name={title} href={linkedin} type="linkedin" />}
        {github && <SocialLink name={title} href={github} type="github" />}
        {telegram && <SocialLink name={title} href={telegram} type="telegram" />}
        {whatsapp && <SocialLink name={title} href={whatsapp} type="whatsapp" />}
        {discord && <SocialLink name={title} href={discord} type="discord" />}
      </div>
    </div>
  </header>
  <main class="lg:mt-4">
    <Container maxSize="m" className="event-container">
      <slot />
    </Container>
    <div class="sticky bottom-2 w-full text-center p-4">
      <AddToCalendarButton
        title={title}
        description={shortDescription}
        startsAt={startsAt}
        endsAt={endsAt}
        location={location}
      />
    </div>
  </main>
</BaseLayout>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    height: 100%;
  }

  body {
    @apply m-0 grid min-h-full grid-rows-[auto_auto_1fr_auto] scroll-smooth bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark;
  }

  p,
  span {
    @apply text-xl text-gray-900 dark:text-gray-50;
  }

  small {
    @apply text-sm text-gray-900 dark:text-gray-50;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply !font-bold;
  }

  h2 {
    @apply py-4 !text-3xl text-slate-900 dark:text-gray-200;
  }

  h3 {
    @apply py-3 !text-2xl text-slate-900 dark:text-gray-200;
  }

  p {
    @apply py-4;
  }

  table {
    @apply mb-10;
  }

  table tr {
    @apply border-b dark:border-b-gray-50;
  }

  table td {
    @apply p-4 text-gray-900 dark:text-gray-50;
  }

  table th {
    @apply p-4 !text-gray-900 dark:!text-gray-50;
  }

  ol,
  ul {
    @apply p-4 font-sans text-base;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ul li {
    @apply mb-2 !text-lg text-slate-900 dark:text-gray-200;
  }

  ol li {
    @apply mb-2 !text-lg text-slate-900 dark:text-gray-200;
  }

  .event-container a {
    @apply underline;
  }
</style>
